@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./css-reset.css");

:root {
  /* colors */
  --orange: #fea301;
  --skyblue: #01acfd;
  --cyan: #05d4df;
  --violate: #5d58ef;

  --txt-black: #111;
  --txt-gray: #808080;
  --txt-light: #fff;

  --txt-card-orange: #f0aa00;
  --txt-card-skyblue: #64c8ff;
  --txt-card-violate: #8700ff;

  --bg-cyan: #3cd8e8;
  --bg-green: #95b226;
  --bg-violate: #5d58f0;

  /* text size */

  --fs-btn: 1.25rem;

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

.ff-quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ff-raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* ###### UTILITY CLASSES ###### */
.hidden {
  display: none;
}
.btn-primary {
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  color: var(--txt-light);
  font-size: var(--fs-btn);
}

/* Grid */
.grid {
  display: grid;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
/* Flex */
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-center-h {
  justify-content: center;
}
.flex-center-v {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}

/* HEADER */
/* NAV */
.nav {
  justify-content: space-between;
  margin: 1.5rem 8.5rem;
}
.nav__brand {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.nav__list {
  list-style-type: none;
  gap: 2rem;
}
.nav__link {
  text-decoration: none;
  font-weight: var(--fw-medium);
  font-size: 1.25rem;
}
.nav__link-orange {
  color: var(--orange);
  font-weight: var(--fw-bold);
}
.nav__link-blue {
  color: var(--skyblue);
}
.nav__link-cyan {
  color: var(--cyan);
}
.nav__link-violate {
  color: var(--violate);
}
.nav__btn {
  background-color: var(--orange);
  padding: 0.5rem 3rem;
  font-weight: var(--fw-semibold);
}

/* Banner */
.banner {
  justify-content: space-between;
  margin: 1.5rem 8.5rem;
}
.banner__contents {
  max-width: 50%;
  align-items: flex-start;
  gap: 1.5rem;
}
.banner__heading {
  font-size: 3.5rem;
  color: var(--txt-black);
  font-weight: var(--fw-bold);
}
.banner__heading-orange {
  color: var(--orange);
}
.banner__heading-blue {
  color: var(--skyblue);
}
.banner__description {
  color: var(--txt-black);
  font-size: 1.25rem;
}
.banner__btn {
  background-color: var(--txt-black);
  font-weight: var(--fw-bold);
  padding: 0.875rem 3rem;
}

.banner__img {
  max-width: 50%;
}

.banner__img > img {
  width: 100%;
}

/* MAIN */

/* CURRICULUM */
.curriculum {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.75rem 0;
  gap: 5rem;
}
.curriculum__heading {
  font-size: 2.875rem;
  font-weight: var(--fw-bold);
}
.curriculum__container {
  margin: 1.5rem 8.5rem;
  gap: 1.75rem;
}
.curriculum__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
  border-radius: 1.125rem;
}
.curriculum__card-blue {
  border: 1px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.curriculum__card-orange {
  border: 1px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.curriculum__card-violate {
  border: 1px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.curriculum__card .card__heading {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  color: #202020;
}
.curriculum__card .card__description {
  font-size: 1rem;
  color: var(--txt-gray);
  font-weight: var(--fw-medium);
}
.curriculum__card .card__btn {
  border: none;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  background-color: transparent;
}
.curriculum__card .card__btn-blue {
  color: var(--txt-card-skyblue);
}
.curriculum__card .card__btn-orange {
  color: var(--txt-card-orange);
}
.curriculum__card .card__btn-violate {
  color: var(--txt-card-violate);
}

.curriculum__icons {
  gap: 2rem;
}
.curriculum__icon {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--orange);
  cursor: pointer;
}
/* OUR STORIES */

@media (max-width: 480px) {
  /* nav */
  .nav__brand,
  .nav__list,
  .nav__btn {
    display: none;
  }
  .nav__hamburger {
    display: block;
    max-width: 50px;
  }
  .nav {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid var(--orange);
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    margin: 0;
    padding: 1rem;
  }
  .banner__contents {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 90%;
    font-weight: var(--fw-medium);
  }
  .banner__heading {
    font-size: 2rem;
  }
  .banner__description {
    font-size: 0.875rem;
  }

  .banner__btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .banner__img {
    max-width: 90%;
  }

  /* CURRICULUM */
  .curriculum {
    padding: 3rem 1rem 1rem;
    gap: 1.25rem;
  }
  .curriculum__heading {
    font-size: 1.625rem;
  }
  .curriculum__container {
    flex-direction: column;
    margin: 0;
    gap: 0.875rem;
  }

  .curriculum__card .card__heading {
    font-size: 1rem;
  }
  .curriculum__card .card__description,
  .curriculum__card .card__btn {
    font-size: 0.656rem;
  }
  .curriculum__icons {
    display: none;
  }
}
